.class2
{
    border-width:3px;
    border-style:ridge;
}
/*.class1
{
    border-width: 5px;
            border-color: red;
            border-style: solid;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 50px;
            padding-top: 30px
} */